@import "var";
@import "~typeface-khula/index.css";

body {
  background-color: $bg-color;
  color: $txt-color;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Khula', sans-serif;
  position: relative;
  height: 100vh;
}

.text-right {
  text-align: right;
}