$bg-color: #272727;

$txt-color: fade_out(white, 0.23);
$txt-hover-color: lighten($txt-color, 30);

$accent-color: #86C232;

$danger-color: #cd2725;

$overlay-txt-color: #4C5859;
$overlay-bg-color: #F5F7F7;
$overlay-border-color: fade_out($overlay-txt-color, 0.9);
$overlay-bg-active-color: darken($overlay-bg-color, 2);

$border-radius: 1px;
